* {
  box-sizing: border-box;
}
.layout {
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
    
  &__header {
    padding: 0 1rem;
  }

  &__main {
    margin-bottom: 1rem;
    padding: 0 1rem;
  }
  .layout__header {
    // background-color: green;
  }
  .layout__main {
    background-color: lightblue;
    width:100%;
    display:flex;
    flex-wrap:nowrap;
  }  
}
